@import url('https://fonts.googleapis.com/css2?family=Carattere');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #22292F;
  color: aliceblue;
  font-family: 'Carattere', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
